version: '3.8'
services:
  prometheus:
    image: prom/prometheus:v2.44.0       # 使用明确版本tag
    container_name: prometheus
    environment:
      - TZ=Asia/Shanghai
    volumes:
#      - /usr/share/zoneinfo/Asia/Shanghai:/etc/localtime:ro
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      # 将宿主机的 prometheus_data 目录挂载到 /prometheus
      - ./prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
        # 以下可选，如需自定义数据存储路径可指定:
        # - '--storage.tsdb.path=/prometheus'
        # 默认情况下也存储在/prometheus下
      #热加载配置
      - '--web.enable-lifecycle'
      #api配置
      - '--web.enable-admin-api'
      #历史数据最大保留时间，默认15天
      - '--storage.tsdb.retention.time=7d'
    ports:
      - "9090:9090"
    networks:
      - monitoring

  node-exporter:
    image: prom/node-exporter:v1.6.1
    container_name: node-exporter
    restart: unless-stopped
    command:
      - '--path.rootfs=/host'
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - /usr/share/zoneinfo/Asia/Shanghai:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host:ro,rslave
    ports:
      - "9100:9100"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:10.1.0        # 使用明确版本tag（Grafana 10.x稳定版本）
    container_name: grafana
    depends_on:
      - prometheus
    environment:
      - TZ=Asia/Shanghai
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - /usr/share/zoneinfo/Asia/Shanghai:/etc/localtime:ro
      - ./grafana/provisioning:/etc/grafana/provisioning
      # 将宿主机的 grafana_data 目录挂载到 /var/lib/grafana（Grafana的默认数据存储目录）
      - ./grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
