[mysqld]
# 端口配置
port=3306
default-time-zone = '+08:00'
log_timestamps=SYSTEM
# 最大连接数
max_connections=200

# 禁用 DNS 解析，加速 MySQL 连接并避免 DNS 解析延迟
skip_name_resolve = 1

# 设置网络缓冲区大小（提高传输效率）
net_buffer_length = 1048576

# 设置交互式连接的超时时间（以秒为单位）
interactive_timeout = 28800

# 设置非交互连接的超时时间（以秒为单位）
wait_timeout = 28800

# 锁等待超时时间（以秒为单位），防止长时间等待锁定
lock_wait_timeout = 3600

# 打开文件的最大限制
open_files_limit = 65535

# 队列最大连接数（等待连接的最大请求数量）
back_log = 1024

# 最大允许的客户端连接数
max_connections = 512

# 允许的最大连接错误数，在达到此数量后，客户端将被阻止连接
max_connect_errors = 1000000

# 打开表的缓存数量
table_open_cache = 1024

# 打开表定义缓存数量
table_definition_cache = 1024

# 日志文件大小
innodb_log_file_size=256M

# InnoDB Settings
default_storage_engine          = InnoDB
innodb_buffer_pool_instances    = 4     # Use 1 instance per 1GB of InnoDB pool size
innodb_buffer_pool_size         = 1G    # Use up to 70-80% of RAM
#innodb_file_per_table           = 1
#innodb_log_buffer_size          = 16M
#innodb_log_file_size            = 512M
#innodb_stats_on_metadata        = 0

# 减少交换
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2

# 禁用双写缓冲区（如果有可靠的存储设备）
innodb_doublewrite = 0

#innodb_temp_data_file_path     = ibtmp1:64M:autoextend:max:20G # Control the maximum size for the ibtmp1 file
innodb_thread_concurrency      = 4     # Optional: Set to the number of CPUs on your system (minus 1 or 2) to better
                                        # contain CPU usage. E.g. if your system has 8 CPUs, try 6 or 7 and check
                                        # the overall load produced by MySQL/MariaDB.
innodb_read_io_threads          = 16
innodb_write_io_threads         = 16

# 其他自定义配置
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci  # 或 utf8mb4_unicode_ci，根据需要选择排序规则

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4