services:
  nginx_proxy_server:
    container_name: nginx_proxy_server
    # image: nginx:1.29
    image: openresty/openresty:alpine
    restart: always
    ports: 
      - 57885:57885
      - 57886:57886
      - 57887:57887
      - 57888:57888

    networks:
      - nginx_proxy_server_network
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      - ./config/conf.d:/etc/nginx/conf.d
      - ./logs:/var/log/nginx
networks:
  nginx_proxy_server_network:
    driver: bridge
