ciecc-ai-app-nacos-mysql:
  container_name: ciecc-ai-app-nacos-mysql
  profiles: [app, middleware, nacos]
  image: ${CIECC_AI_IMAGE_NACOS}
  restart: always
  depends_on:
    - ciecc-ai-app-mysql
  ports:
    - 7848:7848
    - 8848:8848
    - 9848:9848
    - 9849:9849
  networks:
    - ciecc-ai-vnet
  environment:
    - MODE=standalone
    - SPRING_DATASOURCE_PLATFORM=mysql
    - MYSQL_SERVICE_HOST=ciecc-ai-app-mysql
    - MYSQL_SERVICE_PORT=3306
    - MYSQL_SERVICE_DB_NAME=nacos_config
    - MYSQL_SERVICE_USER=root
    - MYSQL_SERVICE_PASSWORD=vchat@QAZ
    - JVM_XMS=1g
    - JVM_XMX=2g
    - NACOS_AUTH_ENABLE=true
    - NACOS_AUTH_TOKEN=4gECVgiOREoUsW7TVymOFcwR515Bn5xjpEUbJSq79x4=
    - NACOS_AUTH_IDENTITY_KEY=e2010256088e444a14b16ed357298e15
    - NACOS_AUTH_IDENTITY_VALUE=cc11e75e419f9c63a4451b252abbf71e
  volumes:
    - ./logs/nacos:/home/nacos/logs
    - ./data/nacos:/home/nacos/data


